@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-block: 300px;
}

.Heading {
    text-align: center;
    font-size:34px;
    margin-top: 20px;
    color: #7B2CBF;
    font-weight: 600;
    margin-top: -90px;
}

.Main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.Hero, .Hero2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
}

.inp1,  .inp2, .inp3, .inp4{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.inp2{
    margin-left: 20px;
}
label{
    font-size: 18px;
    color: #A6A6A6;
    padding-bottom:20px ;
}

textarea {
width: 500px;
background-color: #f0f0f0;
/* border: 2px solid #f0f0f0; */
outline: none;
    height: 250px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    padding-top: 20px;
    border: none;
    resize: none; /* Prevent textarea resizing */
    overflow: auto; /* Add scrollbars */
    margin-bottom: 30px;
    /* justify-content: space-between; */
}
textarea:focus{
    border: 2px solid #7B2CBF;
    background-color: transparent;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */

}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 500px;
    height:50px;
    font-size: 20px;
    font-weight:400;
    border-radius: 15px;
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);    color: white;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;

}
button i{
    font-size:15px;
}

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}